# ===================================================================
# .gitignore — ARM64 Embedded Linux (IPC, Device Tree & Char Driver)
# ===================================================================

# 1. Çekirdek (Kernel) Modülü Derleme Kalıntıları
*.ko
*.o
*.mod
*.mod.c
.*.cmd
modules.order
Module.symvers
*.symvers
.tmp_versions/

# 2. Kullanıcı Uzayı (User Space) C Derleme Çıktıları
*.a
*.d
source_code/collector
source_code/monitor
source_code/display
source_code/stress_mem

# 3. Device Tree (DTB/DTS) Otomasyon Çıktıları
dts/*.dtb
# virt_base.dts QEMU'dan dinamik üretildiği için depoya eklenmez.
# Yalnızca manuel olarak yapılandırılan custom_virt_machine.dts izlenir.
dts/virt_base.dts

# 4. QEMU ve RootFS İmajları (Büyük Boyutlu Binary'ler)
rootfs/*.img
qemu/linux-6.1.75/
qemu/Image

# 5. Log ve Geçici Sistem Dosyaları
*.log
/tmp/

# 6. İşletim Sistemi ve IDE Artıkları
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 7. Python Artıkları (DTS manipülasyon betikleri için)
__pycache__/
*.pyc

# 8. Dış Bağımlılıklar ve Geçici RootFS Çıktıları
rootfs/busybox-*/
rootfs/busybox_install/
rootfs/rootfs_tree/bin/*
rootfs/rootfs_tree/sbin/*
rootfs/rootfs_tree/usr/bin/*
rootfs/rootfs_tree/usr/sbin/*
rootfs/rootfs_tree/linuxrc

*.md