# Build Artifacts & Binaries
/qemu/Image
/qemu/linux-6.1.75/
/qemu/*.tar.xz
/qemu/*.log
/source_code/collector
/source_code/display
/source_code/monitor
/rootfs/monitor
/rootfs/*.img
/rootfs/rootfs_tree/
/rootfs/busybox_install/
/rootfs/busybox-*/
/rootfs/*.tar.gz

# System Files
.DS_Store
*.swp
