# --- Build Artifacts & Binaries ---
/qemu/Image
/source_code/linux-6.1.75/
/*.tar.xz
/*.log
/source_code/collector
/source_code/display
/source_code/monitor
/source_code/rootfs/*.img
/source_code/rootfs/rootfs_tree/
/source_code/rootfs/busybox_install/
/source_code/rootfs/busybox-1.36.1/
/source_code/rootfs/*.tar.gz

# --- System/IDE Files ---
.DS_Store
*.swp
